<mtapp:setting
    id="server"
    label="<__trans phrase="Server">">
    <input type="text" name="server" value="<mt:var name="server" escape="html">"/>
</mtapp:setting>

<mtapp:setting
    id="index"
    label="Index">
    <input type="text" name="index" value="<mt:var name="index" escape="html">"/>
</mtapp:setting>

